<div class="card">
    <img [src]="urlImg" class="card-img-top" alt="textAltImg">
    <div class="card-body">
        <h5 class="card-title" [ngStyle]="{ color: getColor()}">{{titreArticle | uppercase}}
            <span *ngIf="dispo===false"> - Indisponible</span>
        </h5>
        <h6 class="card-title">{{prixArticle}}</h6>
        <p class="card-text">Description</p>
        <p>
            <a routerLink="/details/{{idArticle}}">==> Voir l'article</a>
        </p>

        <button [ngClass]="{
        'show': jaime === true,
        'hidden': jaime === false}" (click)="onLike()">J'aime</button>
        <button [ngClass]="{
        'show': jaime === false,
        'hidden': jaime === true}" class="noLike" (click)="onLike()">Je n'aime pas</button>
        <p>Nombre de like: {{totalNbrLike}}</p>

        <input type='text' placeholder="Ecris ton commentaire" [(ngModel)]="comment" />
        <p>commentaire : {{ comment }}</p>
    </div>
</div>